@font-face {
  font-family: 'GothamBold';
  src: url('gotham-bold.eot'); /* IE9 Compat Modes */
  src: url('gotham-bold.woff') format('woff'), /* Modern Browsers */
       url('gotham-bold.ttf')  format('truetype'); /* Safari, Android, iOS */
}
@font-face {
  font-family: 'GothamMedium';
  src: url('Gotham-Medium.eot'); /* IE9 Compat Modes */
  src: url('Gotham-Medium.woff') format('woff'), /* Modern Browsers */
       url('Gotham-Medium.ttf')  format('truetype'); /* Safari, Android, iOS */
}
@font-face {
  font-family: 'GothamLight';
  src: url('gotham-light.eot'); /* IE9 Compat Modes */
  src: url('gotham-light.woff') format('woff'), /* Modern Browsers */
       url('gotham-light.ttf')  format('truetype'); /* Safari, Android, iOS */
}

html {
  font-family: 'GothamBold';
  position: relative;
  min-height: 100%;
  padding-bottom: 80px
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  font-family: 'GothamBold';
}

#main-layout-container {
  position: relative;
}

button, .btn {
  font-family: 'GothamLight';
}
.footer {
  position: absolute;
  bottom: 0;
  max-width: 1200px;
  /* Set the fixed height of the footer here */
  height: 80px;
}

/*.showBackgroundImage { 
   background: url(pioneerlinebackground.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}*/

.noBackgroundImage,
.showBackgroundImage {
  background: rgb(254,252,234); /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIxNCUiIHN0b3AtY29sb3I9IiNmZWZjZWEiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSI2OCUiIHN0b3AtY29sb3I9IiNmZmRmMDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSI4MCUiIHN0b3AtY29sb3I9IiNmMWRhMzYiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSI5OSUiIHN0b3AtY29sb3I9IiNmMWRhMzYiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSI5OSUiIHN0b3AtY29sb3I9IiNmMWRhMzYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top,  rgba(254,252,234,1) 14%, rgba(255,223,0,1) 68%, rgba(241,218,54,1) 80%, rgba(241,218,54,1) 99%, rgba(241,218,54,1) 99%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(14%,rgba(254,252,234,1)), color-stop(68%,rgba(255,223,0,1)), color-stop(80%,rgba(241,218,54,1)), color-stop(99%,rgba(241,218,54,1)), color-stop(99%,rgba(241,218,54,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(254,252,234,1) 14%,rgba(255,223,0,1) 68%,rgba(241,218,54,1) 80%,rgba(241,218,54,1) 99%,rgba(241,218,54,1) 99%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(254,252,234,1) 14%,rgba(255,223,0,1) 68%,rgba(241,218,54,1) 80%,rgba(241,218,54,1) 99%,rgba(241,218,54,1) 99%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(254,252,234,1) 14%,rgba(255,223,0,1) 68%,rgba(241,218,54,1) 80%,rgba(241,218,54,1) 99%,rgba(241,218,54,1) 99%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(254,252,234,1) 14%,rgba(255,223,0,1) 68%,rgba(241,218,54,1) 80%,rgba(241,218,54,1) 99%,rgba(241,218,54,1) 99%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefcea', endColorstr='#f1da36',GradientType=0 ); /* IE6-8 */
}

h1 {
  font-weight: 900;
  font-size: 4em;
  margin: 0;
  /*color: #252175;*/
}
@media (max-width: 400px) {
  h1 {
    font-weight: 600;
    font-size: 3em;
  }
  .contact-header h3 {
    font-size: 16px;
  } 
  .footer {
    font-size: 0.85em;
  }
}


td {
  /*font-size: 1.25em;*/
  font-family: 'GothamMedium';
  margin-top: 1.5em;
}

.productname {
  margin-top: 0;
  font-size: 1.05em;
}
th.Product.Description {
  color: #0072BB;
}

td.Product.Description {
  width: 33% !important;
}
th.Panels, 
th.Number.of,
td.Number.of {
  max-width: 80px; 
}

td.Product.Description > p {
  margin-bottom: 0;
}
/*********************************************************************************/
/* TABLE (REACTIVE TABLE)                                                                        */
/*********************************************************************************/

.tableimages {
  width:30%;
  overflow: hidden;
  max-height: 7.5em;
}

@media (max-width: 1199px) {
    .tableimages {
        width: 42%;
        max-height: 9.5em;
    }
}
@media (max-width: 990px) {
    .tableimages {
        width: 55%;
    }
}
@media (max-width: 725px) {
    .tableimages {
        max-height: 8em;
    }
}

@media (max-width: 425px) {
    .tableimages {
        width: 90%;
        max-height: 4.5em;
    }
    .productname {
      font-size: 1.1em;
    }
    td {
      font-size: 1em;
      margin-top: 1em;
    }
}
/* headings */
.reactive-table .sortable {
  color: #0072bb;
}

/* data inside the table */
#table-container {
  color: #0072bb;
}

.thumbnail {
  margin-bottom: 0;
  cursor: pointer;
}
/*********************************************************************************/
/* NAVBAR                                                                        */
/*********************************************************************************/
.navbar {
  background-color: #ffdf00;
}

.navbar a {
  font-weight: 500;
  letter-spacing: 2px;
}

@media(min-width:1025px){
  .resourcesMenu {
    left: -200%;
  }
}

/* GENERAL NAV BAR TEXT */
.navbar-default .navbar-brand,
#navbar-collapse > ul > li > a {
  color: #000; 
}

.navbar-default .navbar-brand,
.navbar-right {
  text-transform: uppercase;
}

#navbar-collapse > ul > li > a:hover {
  color: #f99621;
  background-color: #0072bb;
}


#navbar-collapse > ul:nth-child(n) > li.dropdown.open {
  color: #f99621;
  background-color: #0072bb;
}

.dropdown-menu {
  background-color: #82c13f !important;
  font-family: 'GothamMedium';
}
/* dropdown */
#colour-palette {
  background-color: #FFF !important;
  max-width: 300px;
}

@media (max-width: 390px) {
  #header h2 {
    font-size: 1.1em;
  }
}

/*********************************************************************************/
/* Header                                                                        */
/*********************************************************************************/
header
{
  margin-bottom: 1em;
}

  header p
  {
    display: block;
    margin: 0.5em 0 0 0;
    padding: 0 0 1.5em 0;
  }

  #header
  {
    /*position: relative;*/
    color: #252175;
    text-align: center;
    margin: 0;
    cursor: default;
  }

  #header .btn {
    margin-bottom: 0.5em;
  }


  #header #logo {
    margin: 1em 0 0.5em 0;
    width: 95%;
  }
    #header span { color: #009ae2 }

    #header span#two { color: #f99621 }
    #header span#zero { color: #ffdf00 }
    #header span#one { color: #82c13f }
    #header span#four { color: #0072bb }
    
    #header header,
    #social > ul
    {
      display: inline-block;
      padding: 0em 0.5em 0em 0.5em;
      border-radius: 10px;
      border: solid 0.5px #fff;
    }

      #header header p
      {
        border-top: solid 1px rgba(255,255,255,0.5);
        color: rgba(255,255,255,0.75);
        text-shadow: 0 0 0.5px rgba(255,255,255,0.1875);
        font-size: 1em;
        text-transform: uppercase;
        letter-spacing: 3px;
        padding: 0;
        margin-top: 0.35em;
      }
      
        #header header p:before
        {
          content: '';
          display: block;
          border-top: solid 1px rgba(255,255,255,0.5);
          margin: 4px 0 0.8em 0;
        }

        .header-text {
          text-shadow: 0 0 2.5px rgba(255,255,255,0.6);

        }
        .header-text h1 {
         font-size: 3em;   
        }
        .header-text h2 {
         font-size: 2em;   
        }

#small-logo-container {
  margin-top: 1em;
}
#contact-main-logo-container .img-responsive {
  margin: 0 auto;
}
#contact-main-logo-container #logo {
   margin: 0;
}
#contact-small-logo-container {
  max-width: 400px;
  margin: 0 auto;
}
.small-homepage-logos {
  margin: 1em;
}

@media (max-width: 770px) {
.small-homepage-logos {
    width: 33%;
    float: left;
  }
}
#qualatexLogo {
  max-width: 330px;
}
@media (max-width: 990px) {
  #qualatexLogo img {
    width: 50%;
  }
}
@media (max-width: 300px) {
  #qualatexLogo img {
    width: 100%;
  }
}

/*********************************************************************************/
/* CODES                                                                        */
/*********************************************************************************/
#codes {
  float: right;
  padding-right: 2em;
}

#codes-row {
  margin-bottom: 1em;
}

/*********************************************************************************/
/* GLOBAL TEXT                                                             */
/*********************************************************************************/
#contact-button {
  font-size: 1.2em;
}

#contact-disclaimer {
  padding-bottom: 0 !important;
}

#contact-disclaimer p {
  margin: 1em !important;
}

.contact-text {
  color: #0072bb;
  text-shadow: 0 0 0.5px rgba(255,255,255,0.15);
  font-weight: 500;
  letter-spacing: 2px;
}

.contact-header {
  padding: 3em 0 2em 0 !important;
}

#codes,.footer {
  color: #0072bb;
  text-shadow: 0 0 0.5px rgba(255,255,255,0.15);
  font-size: 0.75em;
}

#charges {
  /*color: #0072bb;*/
  font-size: 1.15em;
}

.form-control:focus {
  border-color: #ffdf00;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(255,223,0, 0.5), 0 0 8px rgba(255,223,0, 0.2);
          box-shadow: inset 0 1px 1px rgba(255,223,0, 0.5), 0 0 8px rgba(255,223,0, 0.2);
}

#contact-container,
#contact-disclaimer {
  color: #252175;
  text-shadow: 0 0 0.5px rgba(255,255,255,0.25);
  text-align: center;
  padding: 0em 0 4em 0;
  margin-top: -3em;
  cursor: default;
}

#mapleleaf img {
  max-width: 2em;
  float: right;
  position: absolute;
  top: 0;
  right: 0;
}

/* flip NAV to Menu Mode*/
@media (max-width: 1260px) {
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    /* since 3.1.0 */
    .navbar-collapse.collapse.in { 
        display: block!important;
    }
    .collapsing {
        overflow: hidden!important;
    }
}
/*********************************************************************************/
/* social                                                                        */
/*********************************************************************************/
  ul.icons
    {
      cursor: default;
      font-size: 1.5em;
    } 
    
      ul.icons li
      {
        display: inline-block;
      }
      
        ul.icons a
        {
          display: inline-block;
          width: 2.5em;
          height: 2.5em;
          line-height: 2.5em;
          text-align: center;
          border: 0;
        }

    ul.social-menu
    {
      cursor: default;
    }
    
      ul.social-menu li
      {
        display: inline-block;
        line-height: 1em;
        border-left: solid 1px #dad9d9;
        padding: 0 0 0 0.5em;
        margin: 0 0 0 0.5em;
      }
      
      ul.social-menu li:first-child
      {
        border-left: 0;
        padding-left: 0;
        margin-left: 0;
      }

  #social
  {
    position: relative;
    text-shadow: 0 0 0.5px rgba(255,255,255,0.25);
    text-align: center;
    margin: 2.5em 0 0 0;
  }

    #social a
    {
      color: #252175;
      text-shadow: 0 0 0.5px rgba(255,255,255,0.25);
      border-bottom-color: rgba(255,255,255,0.5);
    } 
    
      #social a:hover
      {
        color: #252175;
        text-shadow: 0 0 0.5px rgba(69,200,159,0.25);
        border-bottom-color: rgba(53,184,143,0.5);
      }
    
    #social .icons
    {
      padding: 0.75em 2em 0.75em 2em;
      border-radius: 3em;
      border: solid 1px #fff;
      display: inline-block;
      margin: 0 0 3em 0;
    }
    
    #social .copyright
    {
      margin: 0 0 9em 0;
      font-size: 0.8em;
    }

/************* 
  END SOCIAL 
**************/


.modal-megamenu {
    width:80%;
    margin: 3% auto;
}
.modal-body {
    max-height:600px;
    overflow:auto;
}
.modal-content {
    height: 100%;
}

#modalImage {
  max-height: 600px;
  vertical-align: center;
  text-align: center;
  margin: auto;
}

.modal-title {
  text-align: center;
}

@media (max-width: 500px) {
  
  .btn-responsive {
    padding: 2px 4px;
    font-size: 90%;
    line-height: 1.25;
    border-radius: 3px;
  }
}

#biodeg {
  margin: 0 0 0.5em 0.5em;
}

#main-select-button .dropdown-menu {
  width: 100%; 
}
.fa-star-o {
  font-weight: 100;
}

#palimg img {
  max-height: 3em;
  vertical-align: middle;
  max-width: 80%;
}


#primary-image > img {
  max-height: 300px;
}

.srcs {
  cursor: pointer;
}

#flag-template-btn {
  margin: 1em 0em 1em 0em;
}

/* special column widths */
.Size,
.Locations {
  width: 5%;
}

#special-shapes-image {
  width: 90%;
  margin: 1em;
}

#quick-find-caret {
  color: #ffdf00 !important;
}

/* CUSTOMIZE THE CAROUSEL ------------------------ */

/* Carousel base class */
.carousel {
  margin-bottom: 60px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 1;
}

.carousel-control {
  background-image: none !important;
  font-size: 36px;
  color: #5CB85C;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 500px;
  margin-top: 2em;
}

.carousel img {
  position: absolute;
  top: 0;
  left: 0;
  min-height: 400px;
}

#grid-image a {   
  background-color : transparent;
}

#grid-image p {
  font-size: 20px;
  color: #252175;
  margin-top: 1em;
}

.btn-show-all {
  background: #ea1d22;
  margin: 1em;
}

.filter-button-container {
  margin: 0.5em 0 0.5em 0;
}
.spinner {
  width: 50%;
}

#pal-headers {
  max-height: 175px;
  cursor: pointer;
}
.pal-image {
  float: left;
  max-width: 15em;
  cursor: pointer;
  padding-right: 100px;
}
.pal-image .all {
max-width: 25em;

}