<template name="economyLineMenu">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Economy Line<span class="caret"></span></a>
    <ul class="dropdown-menu" role="menu">
      <li><a href="{{pathFor 'adriteeconomyline'}}">AdRite™ Latex Balloons - Ballons AdRite™</a></li>
      <li><a href="{{pathFor 'cloudbuster'}}">Cloudbuster™ Balloons & Kits - Ballons et ensemble Cloudbuster™</a></li>
      <li><a href="{{pathFor 'outdoorballoons'}}">Outdoor Display Balloons - Ballons d'extérieur</a></li>
    </ul>
</template>