<template name="eventsMenu">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Event Products<span class="caret"></span></a>
  <ul class="dropdown-menu" role="menu">
    <li><a href="{{ pathFor 'popupbanners' }}">Pop Up Banners - Bannièrres surprise</a></li>
    <li><a href="{{ pathFor 'tablecovers' }}">Table Covers - Nappes</a></li>
    <li><a href="{{ pathFor 'eventtents' }}">Event Tents - Tentes d'événement</a></li>
    <li><a href="{{ pathFor 'promoflags' }}">Promotional Flags - Drapeaux publicitaires</a></li>
  </ul>
</template>