<template name="latexMenu">  
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Qualatex<sup>®</sup> Latex<span class="caret"></span></a>
    <ul class="dropdown-menu" role="menu">
      <li><a href="{{pathFor 'roundballoons'}}">One-Colour Print</a></li>
      <li><a href="{{pathFor 'heartballoons'}}">Heart Balloons</a></li>
      <li><a href="{{pathFor 'multicolourprint'}}">Multi-Colour Print</a></li>
      <li><a href="{{pathFor 'quicklinkonecolour'}}">QuickLink<sup>TM</sup> One-Colour</a></li>
      <li><a href="{{pathFor 'adwrap' }}">AdWrap<sup>®</sup> Balloons</a></li> 
      <li><a href="{{pathFor 'adwave' }}">AdWave<sup>®</sup> Balloons</a></li>
      <li><a href="{{pathFor 'giantlatexballoons' }}">Giant Latex Balloons</a></li>
    </ul>
</template>