<template name="latexMenu">  
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Qualatex<sup>®</sup> Latex<span class="caret"></span></a>
    <ul class="dropdown-menu" role="menu">
      <li><a href="{{pathFor 'roundballoons'}}">One-Colour Print - Ballon à impression une couleur</a></li>
      <li><a href="{{pathFor 'heartballoons'}}">Heart Balloons - Ballons coeurs</a></li>
      <li><a href="{{pathFor 'roundballoons'}}">Globe Balloons - Ballon globe</a></li>
      <li><a href="{{pathFor 'multicolourprint'}}">Multi-Colour Print - Multi-impression couleur</a></li>
      <li><a href="{{pathFor 'quicklinkonecolour'}}">QuickLink<sup>TM</sup> One-Colour - Ballons QuickLink<sup>TM</sup> </a></li>
      <li><a href="{{pathFor 'adwrap' }}">AdWrap<sup>®</sup> Balloons - Ballons AdWrap<sup>®</sup></a></li> 
      <li><a href="{{pathFor 'adwave' }}">AdWave<sup>®</sup> Balloons - Ballons AdWave<sup>®</sup> </a></li>
      <li><a href="{{pathFor 'giantlatexballoons' }}">Giant Latex Balloons - Ballons de latex géants</a></li>
      <li><a href="{{pathFor 'giantlatexballoons' }}">Giant Globe Balloons - Ballons globe géants</a></li>
    </ul>
</template>