<template name="microfoilMenu">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Qualatex<sup>®</sup> Microfoil<sup>®</sup><span class="caret"></span></a>
  <ul class="dropdown-menu" role="menu">

    <li><a href="{{pathFor 'microfoilvalved'}}">Small Quantity Microfoil<sup>®</sup> Balloons - Ballons Microfoil<sup>®</sup> petite quantité</a></li>
    <li><a href="{{pathFor 'largequantmicrofoil'}}">Large Quantity Microfoil<sup>®</sup> Balloons - Ballons Microfoil<sup>®</sup> grand quantité</a></li>

  </ul>
</template>

