<template name="adritepals">
  <h1>Adrite Pals</h1>
  {{> accord }}
</template>

<template name="basic">
  {{#each pals }}
    {{> palImages}}
  {{/each}}
</template>

<template name="crystal">
  {{#each pals }}
    {{> palImages}}
  {{/each}}
</template>

<template name="fun">
  {{#each pals }}
    {{> palImages}}
  {{/each}}
</template>

<template name="metallic">
  {{#each pals }}
    {{> palImages}}
  {{/each}}
</template>

<template name="palImages">
    <div class="col-sm-2">
      <img id="{{ id }}" class="{{ klass }}" src="{{ src }}" alt="">
    </div>
</template>    


<template name="accord">
  <!-- <div class="accordion" id="accordion2">
    {{#each adritePalettes }}
    <div class="accordion-group">
      <div class="accordion-heading">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
          <h3 class="pal-headers">{{ title }}</h3>
        </a>
      </div>
      <div id="collapseOne" class="accordion-body palCollapse in">
        <div class="accordion-inner">
          {{> Template.dynamic template=myTemplate}}
        </div>
      </div>
    </div>
    {{/each}}
  </div> -->
    {{#each adritePalettes}}
      <h3 class="pal-headers">{{ title }}</h3>
      {{> Template.dynamic template=myTemplate}}
    {{/each}}
</template>