<template name="adritepals">
  <h1>Adrite Colours</h1>
  <!-- {{#each palType }}
    {{> pills pals="this" }}
  {{/each}} -->
  {{> accord }}
</template>

<template name="adritebasic">
  {{#each pals }}
    {{> palImages}}
  {{/each}}
</template>

<template name="adritecrystal">
  {{#each pals }}
    {{> palImages}}
  {{/each}}
</template>

<template name="adritefun">
  {{#each pals }}
    {{> palImages}}
  {{/each}}
</template>

<template name="adritemetallic">
  {{#each pals }}
    {{> palImages}}
  {{/each}}
</template>

<template name="outdoorbasic">
  {{#each pals }}
    {{> palImages}}
  {{/each}}
</template>

<template name="outdoorcrystal">
  {{#each pals }}
    {{> palImages}}
  {{/each}}
</template>

<template name="outdoorfun">
  {{#each pals }}
    {{> palImages}}
  {{/each}}
</template>

<template name="outdoormetallic">
  {{#each pals }}
    {{> palImages}}
  {{/each}}
</template>

<template name="outdoorpalsAll">
  {{#each outdoorPalettes}}
  <div class="row">
    <div class="col-sm-12">
      
      {{#if shown }}
        <h2>{{ title }}</h2>
        <a class="btn btn-danger" id="hideMyElement">Show Me Less</a>
        {{> Template.dynamic template=myTemplate }}

        {{ else }}
        <img id="pal-headers" class="img-responsive" src="{{ src }}" alt="">
      {{/if}}

    </div>
  </div>
  {{/each}}
</template>

<template name="pills">
<h2>pills</h2>
  {{#each pals}}
    {{> palImages}}
  {{/each}}
  
</template>

<template name="palImages">
  <div class="col-sm-2">
    <img id="{{ id }}" class="{{ klass }}" src="{{ src }}" alt="">
  </div>
</template>    

<template name="accord">
  {{#each adritePalettes}}
    <div class="row">
      <div class="col-sm-12">
        {{#if shown }}
          <h2>{{ title }}</h2>
          <a class="btn btn-danger" id="hideMyElement">Show Less</a>
          {{> Template.dynamic template=myTemplate }}
            <!-- {{> pills palType }}
          {{#with data }}
          {{/with}}
          {{#with data }}
            {{ this }}
          {{/with}} -->
        {{ else }}
          <img id="pal-headers" class="img-responsive" src="{{ src }}" alt="">
        {{/if}}
      </div>
    </div>
  {{/each}}
</template>