<template name="adwave">    
  <div class="container">
    <div class="row">
      {{> adwaveheader }}
    </div>
    <div class="row">
      {{> yield region="pals" }}  
      {{> yield region="filterdropdown" }}  
    </div>
    <div class="row">
      {{> reactiveTable collection=adwave settings=settings}}  
    </div>
    <div class="row">
      {{> yield region="charges" }}  
      <!-- {{> adwaveColours }} -->
    </div>
  </div>
</template>

<template name="adwaveheader">
  <div class="row">
    <h1>AdWave<sup>®</sup> Balloons</h1>
    <h1>Ballons AdWave<sup>®</sup></h1>
  </div>

  <div class="row">
    <div id="primary-image" class="col-lg-3 col-md-3 col-sm-12">
      <img class="img-responsive" src="adwaves.png" alt="">
    </div>
    <div class="col-lg-7 col-md-6 col-sm-12">
          <h4>One Colour - One Side Print.  Available in Two Sizes!</h4>
          <h4>Impression – 1 côté Prix par ballon. Disponible en deux tailles!</h4>
    </div>
    <div class="col-lg-2 col-md-3 col-sm-12 pull-right">
      {{> biodeg}}
      {{> qualatexLogo}}
      
    </div>
    
  </div>

</template> 

<template name="adwaveColours">
  <h4>AdWave balloons are available only in selected colours − Les ballons Adwave sont disponibles seulement dans certaines couleurs:</h4>
  <h4>Les ballons Adwave sont disponibles seulement dans certaines couleurs:</h4>

  <ul>
    <li>Standard Colours – Pink (L26), Pale Blue (L27), White (L28), Dark Blue (L21), Green (L22), Red (L23), Yellow (L24), and Orange (L25).</li>
    <li>Couleurs standards: Rose pâle (L26), Bleu pâle (L27), Blanc (L28), Bleu foncé (L21), Vert (L22), Rouge (L23), Jaune (L24), Orange (L25).</li>
    <li>Fashion Colours : Wintergreen  (L32), Goldenrod (L34), Rose (L36), Spring Lilac (L37), Gray (L39), Lime Green, Onyx Black (L41), Purple Violet (L3H), and Robin’s Egg Blue (L3G), Blush (L3B), Mocha Brown (L3E), Chocolate Brown (L3F), Tropical Teal (L33)*, Wild Berry (L3L)*, Periwinkle (L90)*</li>
    <li>Couleurs de mode: Vert menthe (L32), Bistre (L34), Rose foncé (L36), Lilas (L37), Gris (L39), Vert lime, Noir onyx (L41), Pourpre Violet (L3H), Bleu oeuf de merle (L3G), Rose Fard (L3B), Brun moka (L3E), Brun chocolat (L3F), Sarcelle (L33)*, Baies sauvages (L3L)*, Bleu pervenche (L90)*</li>
    <li>Jewel Colours : Ruby Red (L53), Mandarin Orange (L55), Quartz Purple, (L44), Sapphire Blue (L51), Emerald Green (L52), Citrine Yellow (L54), Diamond Clear (L58), Jewel Magenta (L5C)*</li>
    <li>Couleurs pierres précieuses: Rouge rubis (L53), Orange mandarine (L55), Pourpre quartz (L44), Bleu Saphir (L51), Vert émeraude (L52), Jaune citron (L54), Diamant clair (L58), Magenta bijou (L5C)*</li>
  </ul>

  <p>* These colours available in 2" x 60" only. </p>
  <p>* Ces couleurs sont disponibles en format de 2 po. x 60 po. seulement.</p>
</template>