<template name="adwrap">  
  <div class="container">
    <div class="row">
      {{> adwrapheader }}
    </div>
    <div class="row">
      {{> yield region='pals' }}
      {{> yield region='filterdropdown' }}
    </div>    
    <div class="row">
      {{> reactiveTable collection=adwrap settings=settings}}
    </div>
    <div class="row">
      {{> yield region='charges'}}      
    </div>
  </div>
</template>

<template name="adwrapheader">
  <div class="row">
    <h1>AdWrap<sup>®</sup> Balloons</h1>
    <h1>Ballons AdWrap®</h1>
  </div>
  <div class="row">
    <div id="primary-image" class="col-lg-3 col-md-3 col-sm-12">
      <img class="img-responsive" src="adwrap.png" alt="">
    </div>
    <div class="col-lg-7 col-md-6 col-sm-12">
      <h4>One Colour – Wrap around IMPRESS II® Print </h4>
      <h4>Impression tout autour IMPRESS II® – 1 couleur </h4>
    </div>
    <div class="col-lg-2 col-md-3 col-sm-12 pull-right">
      {{> biodeg}}
      {{> qualatexLogo }}
    </div>
  </div>
</template> 
