<template name="adwrap">  
  <div class="container">
    <div class="row">
      {{> adwrapheader }}
    </div>
    <div class="row">
      {{> yield region='pals' }}
      {{> yield region='filterdropdown' }}
    </div>    
    <div class="row">
      {{> reactiveTable collection=adwrap settings=settings}}
    </div>
    <div class="row">
      {{> yield region='charges'}}
      {{> adwrapfooter}}
    </div>
  </div>
</template>

<template name="adwrapheader">
  <div class="row">
    <h1>AdWrap<sup>®</sup> Balloons</h1>
    <h1>Ballons AdWrap®</h1>
  </div>
  <div class="row">
    <div id="primary-image" class="col-lg-3 col-md-3 col-sm-12">
      <img class="img-responsive" src="adwrap.png" alt="">
    </div>
    <div class="col-lg-7 col-md-6 col-sm-12">
      <h4>One Colour – Wrap around IMPRESS II® Print </h4>
      <h4>Impression tout autour IMPRESS II® – 1 couleur </h4>
      <h4>AdWrap balloons increase your message visibility and are ideal for a wide range of promotions.  Your logo or message, surrounded by one of the stock designs, appears four times on the balloon to create a custom image.</h4>
    </div>
    <div class="col-lg-2 col-md-3 col-sm-12 pull-right">
      {{> biodeg}}
      {{> qualatexLogo }}
    </div>
  </div>
</template> 

<template name="adwrapfooter">
    
    <h3>Custom AdWrap Balloons</h3> 
    <h4>They are Great For:</h4>
    <h4>Parfaits pour:</h4>
    <ul>
      <li>Multiple Logo</li>
      <li>Multiples logos</li>
      <li>Different Sponsors</li>
      <li>Plusieurs commanditaires</li>
      <li>Multiple Store Locations</li>
      <li>Multiples locations de magasins</li>
    </ul>

    <p>Using symbols unique to your client’s product or business, a Custom AdWrap design can be created especially for them. Custom AdWrap balloons are available with an initial minimum order of 2,500 balloons.</p>
    
    <p><strong>Additional Information</strong>Black or White ink is recommended, although other standard Qualatex® ink colours are available. Because of the random nature of the Wrap Around IMPRESS II® printing process, printing will overlap and some smearing may occur.</p>
</template>