<template name="beachballs">
  <div class="container">
    <div class="row">
      {{> beachballheader}}
    </div>

    <div class="row">
      {{> beachballPalsAll}}
      {{> reactiveTable collection=beachballs settings=settings }}  
    </div>
  </div>
  <div id="charges" class="row">
    
    <h4>Charges</h4>

    <ul>
      <li><strong>Cut Charge:</strong>  $50.00(A) per logo, one time only.</li>
      <li><strong>Custom Ink </strong>Blend:  $50.00(A) per ink colour; custom blends are not inventoried.**Exact PMS matches cannot be guaranteed**  </li>
      <li><strong>Art Charge:</strong>  $50.00(A) per hour.</li>
    </ul>
  </div>

  <div class="row">    

    <h4>Beach Ball Panel Colours</h4>

    <p><strong>Assorted:</strong> White, Blue, Yellow, Orange, Red, and Green</p>
    <p><strong>Ink Colours:</strong> Black, Process Blue, Dark Blue, Red, Green, and White</p>
    <aside>*Colour subject to change.</aside>
    
  </div>

</template>

<template name="beachballheader">
  <div class="row">
    <h1>Beach Balls</h1> 
  </div>

  <div class="row">
    <div id="primary-image" class="col-lg-3 col-md-3 col-sm-12">
      <img class="img-responsive" src="beachballs.png" alt="">
    </div>
    <div class="col-lg-7 col-md-6 col-sm-12">
      <h4>Made of high-quality, heavy gauge vinyl.  The prices below include balls with one-colour / one-panel imprint; add additional charges.</h4>
    </div>
    
  </div>

</template> 

<template name="beachballPalsAll">
  {{#each beachballPalettes }}
    {{> palsAll }}
  {{/each}}
</template>

<template name="beachballs12">
  {{#each pals }}
    {{> palImage}}
  {{/each}}
</template>
<template name="beachballs16">
{{#each pals }}
    {{> palImage}}
  {{/each}}
</template>