<template name="cloudbuster">
    <div class="container">

        <div class="row">
            {{> cloudheader }}
            {{> yield region='pals' }}

        </div>

        <div class="row">
            <h3>Cloudbuster Chloroprene Balloons</h3>
            <h3>Ballons Cloudbuster de Chloroprène</h3>
            {{> yield region='filterdropdown' }}
        </div>
        <div class="row">
            {{> reactiveTable collection=cloudbuster settings=settings}}
        </div>

        <div class="row">
            <h3>Cloudbuster Kits</h3>
            {{> cloudbusterkits }}
        </div>

        <div class="row">
            <p>Cloudbuster Kits Include: One 5 ½-ft or 8-ft. Chloroprene Balloon (Select colour); 100-ft. Pennant Line and instructions. The 8-ft. Cloudbuster Kit also includes one 150-ft. spool of Heavy Nylon Tether Line.</p>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <h3>Cloudbuster Accessories</h3>
                <p><strong>Balloon Filling Hose</strong>- (#92106) - $71.48(A) each.</p>
                <p><strong>Heavy Nylon Tether Line</strong>- (#91247) (150-ft. spool) - 22.82(A)</p>
                <p><strong>Display Pennants</strong>- (#91246) - $24.10(A) each </p>
                <h5>For outdoor use!! Durable outdoor balloons float 4-18 days!!</h5>
            </div>
            <div class="col-sm-6">
                <h3>Cloudbuster Accessoires</h3>
                <p><strong>Tuyau de remplissage</strong>- (#92106) - 71,48$(A)</p>
                <p><strong>Corde de nylon</strong>- (#91247) - 22,82(A) bobine de 150pi.</p>
                <p><strong>Câble de fanions</strong>- (#91246) - 24,10$(A) </p>
                <h5>Pour utilisation à l’extérieur! Ballons durables flottent 4 à 18 jours!</h5>
            </div>    
        </div>
       

        <div class="row">
            {{> yield region='charges'}}
        </div>

    </div>
</template>

<template name="cloudheader">
    
  <div class="row">
    <h1>Cloudbuster ™ Balloons & Kits</h1>
    <h1>Ballons et ensembles Cloudbuster™</h1>

  </div>

  <div class="row">
    <div id="primary-image" class="col-lg-3 col-md-3 col-sm-12">
      <img class="img-responsive" src="cloudbuster.png" alt="">
    </div>
    <div class="col-lg-7 col-md-6 col-sm-12">
      <h4>Cloudbuster Chloroprene Balloons are manufactured to professional standards. The raw materials used in producing these balloons help retard the sun’s ultraviolet rays, while the slender neck makes inflation easy.</h4>
      <h4>Les ballons Cloudbuster en chloroprène sont fabriqués selon des normes professionnelles. Les matériaux bruts utilisés dans la fabrication de ces ballons retardent les rayons ultraviolets du soleil, tandis que leur col fin facilite leur gonflage.</h4>
    </div>
  </div>

</template> 
