<template name="eventtents">
  <div class="container">
    <div class="row">
        {{> eventtentheader }}

    </div>
  </div>
  
  <div class="row">
      <!-- {{> yield region='filterdropdown' }} -->
  </div>
  <div class="row">
      {{> reactiveTable collection=eventtents settings=settings }}
      <p>Prices above includes a 10-ft. x 10-ft. tent frame with storage bag, canopy, 4 metal ground stakes, 4 small canvas draw string sand weight bags. (sand not included)</p>
      <p>Les prix ci-dessus comprennent une monture de tente de 10 pi. x 10 pi. avec un étui, un auvent, 4 pieux de base, 4 sacs de toile avec cordon de serrage pour sable. (sable non compri</p>

    <p>Set-Up Charge (#36997): $85.00(C) Only one SET UP CHARGE PER TENT regardless of number of imprint areas and includes entire quantity with same imprint.</p>
    <p>Frais de montage (#36997): 85,00$(C) Seulement un FRAIS DE MONTAGE PAR TENTE peu importe le montant de surfaces à imprimer et comprend toute quantité avec la même impression.</p>

  </div>

  <div class="row">
    {{> eventtentwalls }}
  </div>
  

</template>


<template name="eventtentheader">
  <div class="row">
    <h1>Durable Event Tents</h1>
    <h1>Tentes d'événement durables</h1>
  </div>

  <div class="row">
    <div id="primary-image" class="col-lg-3 col-md-3 col-sm-12">
      <img class="img-responsive" src="event-tent.png" alt="">
    </div>
    <div class="col-lg-7 col-md-6 col-sm-12">
      <h4>Providing maximum visibility and shelter with budget friendly pricing the Durable Event Tents have you covered. Tents are portable, sturdy, and easy to assemble. Constructed with high-quality, water and fire resistant, uv-protected 600 denier polyester fabric.</h4>
      <h4>Ces tentes d'événement procurent une gande visibilité et vous protègent des éléments et ce pour un prix abordable. Ces tentes sont portatives, solides et faciles à assembler. Fabriquées de tissu de haute qualité, resistant à l'eau et au feu et protègé des rayons uv.</h4>
    </div>
    
  </div>

</template> 