<template name="eventtentwalls">
  
  <h1>Durable Event Tent Walls</h1>
  <h1>Murs pour tente d'événement durables</h1>
  
  {{> reactiveTable collection=eventtentwalls settings=settings }}
  
  {{> etwOld }}
  {{> etwNew }}

</template>


<template name="etwOld">
<h4>Price below is for one-side print; add additional charges</h4>

  <p>No additional set-up charge for walls when ordered on same purchase order as tent.</p>
  <p>Second-Side imprint on wall panels multiply wall price by two.</p>

  <aside>Price per Piece 4C</aside>

   
  <aside>*Requires hardware</aside>
  <aside>**Hardware Sold Separately</aside>

  <section>
    <h4>Accessories</h4>
    <p>Deluxe Carrying case with wheels (49138) - $165.00 each</p>

    <p>Deluxe Tent Weight Set (16159) - $92.00 each
    Set includes 4 600 Denier Polyester zippered bags that can be filled with sand and attaches to each tent leg with hook and loop straps.</p>

    <p>Event Tent Flag Holder (16337) $55.00 each
    Flag holders attach to corner of tent frame and are secured with hook and loop straps to secure the flag pole to the tent leg.</p>
    
  </section>

  <section>
    <h4>Product Material</h4>
    <p>One Piece Portable Event Tent Frame: Powder coated rust-resistant steel</p>
    <p>Canopy & Wall Fabric: Poly 600 Coated Denier (water & fire resistant and UV-protected)</p>
    <p>Deluxe Carrying Bag: Poly 1,000 Denier with handles and wheels</p>

    <h4>Imprint Area</h4>
    <p>Valance Imprint Area: 12”H x 100”W</p>
    <p>Peak Imprint Area: 40”H x 50”W</p>

    <p><strong>Shipping</strong> F.O.B: Miami Florida. Duty and Brokerage may apply; Approx. 3-4 business weeks from confirmed order and sketch approval</p>
  </section>

  
</template>
<template name="etwNew">
  <p>Price above are for one-side print; add additional charges.</p>
  <p>Prix ci-dessus une impression sur 1 côté; ajoutez tous frais supplémentaires.</p>
  <p>No additional set-up charge for walls when ordered on same purchase order as tent.</p>
  <p>Aucun frais de montage pour murs commandés sur le même bon de commande que la tente.</p>
  <p>Second–side imprint on wall panels multiply wall price by two.–</p>
  <p>Pour impression sur le deuxième côté du mur multipliez le prix du mur par deux.</p>

  {{> stockCanopyColours}}



</template>
<template name="stockCanopyColours">
  <h4>Stock Canopy Colours - Couleur d'auvent en stock</h4>
<div class="col-sm-6">
  
  <ul>
  <li>Orange PMS 021C - Orange PMS 021C </li>
  <li>Yellow PMS C - Jaune PMS C </li>
  <li>Green PMS 355C - Vert PMS 355C </li>
  <li>Green PMS 375C - Vert PMS 375C </li>
  <li>Red PMS 185C - Rouge PMS 185C </li>
  <li>Red PMS 187C - Rouge PMS 187C </li>
  <li>Red PMS 485C - Rouge PMS 485C </li>
  <li>Brown PMS 476C - Brun PMS 476C </li>
  <li>Beige PMS 7500C - Beige PMS 7500C </li>
</ul>

</div>
<div class="col-sm-6">
<ul>
  <li>Process Blue PMS C - Bleu cyanure PMS </li>
  <li>Blue PMS 282C - Bleu PMS 282C </li>
  <li>Blue PMS 293C - Bleu PMS 293C </li>
  <li>Blue PMS 300C - Bleu PMS 300C </li>
  <li>Blue PMS 2955C - Bleu PMS 2955C </li>
  <li>Purple 2685C - Pourpre PMS 2685C </li>
  <li>Cool Gray PMS 6C - Gris froid PMS 6C </li>
  <li>Black C PMS - Noir C PMS </li>
  <li>White C PMS - Blanc C PMS</li>
</ul>
  
</div>

  <p>PMS numbers are for reference only and may vary slightly from actual material colour </p>
  <p>Les numéros PMS ne doivent être Stock Canopy Colours – Couleur d'auvent en stock pris qu'à titre indicatif et peuvent varier légèrement de la couleur actuelle du tissu.</p>
</template>
<template name="bar"></template>