<template name="giantlatexballoons">
  <div class="container">
    <div class="row">
      {{> giantlatexheader}}
    </div>
    <div class="row">
      {{> yield region='pals' }}
      {{> yield region='filterdropdown' }}
    </div>
    <div class="row">
      {{> reactiveTable collection=giantlatexballoons settings=settings}}
    </div>
    <div class="row">
      {{> giantColours}}
      {{> giantlatexcharges}}
    </div>
  </div>
</template>

<template name="giantlatexheader">
  <div class="row">
    <h1>Giant Latex Balloons</h1>
    <h1>Ballons de latex géants</h1>
  </div>
  <div class="row">
    <div id="primary-image" class="col-lg-3 col-md-3 col-sm-12">
      <img class="img-responsive" src="giant-latex.png" alt="">
    </div>
    <div class="col-lg-7 col-md-6 col-sm-12">
      {{> oneSidedImprint}}
    </div>
    <div class="col-lg-2 col-md-3 col-sm-12 pull-right">
      {{> biodeg}}
      {{> qualatexLogo}}
    </div>
  </div>
</template> 

<template name="giantlatexcharges">
  <h5>The prices above include balloons with one-colour/one-side imprint; add additional charges.</h5>
  <ul>
    <li>Cut Charge:  $50.00(A) per logo, one time only</li>
    <li>Machine Set up charge:  $22.00(A) per order</li>
    <li>Second-Side Imprint:  $1.00(A) per balloon</li>
    <li>Custom Ink Blend:  $20.00(A) per ink colour; custom blends are not inventoried. 
      <ul>
        <li>*Exact PMS colour matches cannot be guaranteed*</li>
      </ul>
    </li>
    <li>Art Charge:  $50.00(A) per hour.</li>
  </ul>

</template>

<template name="giantColours">
  <p><strong>*SuperAgate Rainbow Colours include:</strong>  Blue Rainbow (L6A), Green Rainbow (L6B), Red Orange Rainbow (L6C), Yellow Orange Rainbow (L6D), and Pink Violet Rainbow (L6E)</p>
  <p><strong>*Les couleurs SuperAgate arc-en-ciel comprennent:</strong>  Arc-en-ciel bleu (L6A),  Arc-en-ciel vert (L6B), Arc-en-ciel rouge orange (L6C), Arc-en-ciel jaune orange (L6D), Arc-en-ciel rose violet (L6E)</p>
</template>