<template name="microfoilvalved1820">  
  <div class="container">

    <div class="row">
      {{> microheader }}
      {{> yield region='pals' }}
      <h3>18” and 20” Valved Balloons</h3>
      <h3>Ballons de 18 po. & 20 po. avec valve</h3>
    </div>

    <div class="row">
      <!-- {{> yield region='filterdropdown' }} -->
    </div>
    <div class="row">
      {{> reactiveTable collection=microfoilvalved1820 settings=settings}}
    </div>

    <div class="row">
      <h3>36” Valved Balloons</h3>
      <h3>Ballons de 36 po. avec valve</h3>
      {{> microfoilvalved36 }}
    </div>
    
    <div class="row">
      {{> microfooter}}
    </div>
    
    <div class="row">      
      {{> yield region='charges' }}
    </div>
  </div>
</template>

<template name="microheader">
  <div class="row">
    <h1>Small Quantity Microfoil<sup>®</sup> Balloons</h1>
    <h1>Ballons Microfoil<sup>®</sup> – Petite quantité</h1>

  </div>

  <div class="row">
    <div id="primary-image" class="col-lg-3 col-md-3 col-sm-12">
      <img class="img-responsive" src="small-microfoil.png" alt="">
    </div>
    <div class="col-lg-7 col-md-6 col-sm-12">
      {{> oneSidedImprint}}
    </div>
    <div class="col-lg-2 col-md-3 col-sm-12 pull-right">
      {{> qualatexLogo }}
    </div>
    
  </div>

</template> 

<template name="microfooter">
  <h4>Magic Balloon Wands™ Diamond Clear – Diamant clair</h4>
  <ul>
    <li>(#22860) $31.76(A) per 40ct. / sac de 40</li>
    <li>© Premium Balloon Accessories</li>
  </ul>

  <h4>Art - Conception Graphique </h4>
  <p>A minimum of 1/8" separation between colours is required due to movement during printing. Order acceptance is based on approval of artwork.</p>
  <p>Une sélection chromatique d’au moins 1/8 po. doit exister entre les couleurs due aux conditions d’instabilité durant l’impression.  L’acceptation de la commande est basée sur l’approbation de la conception graphique</p>
  <h5>Note:  Helium-filled Microfoil balloons may not float in altitudes exceeding approximately 3,000 feet.</h5>
  <h5>Il est possible que les ballons Microfoil remplis d'hélium ne flottent pas à des altitudes supérieures à 3,000 pieds.</h5>

</template> 

<template name="smallmicrofoilcharges">
  <div class="col-sm-6">
    <h4>Charges</h4>
    <ul>
      {{#each allCharges }}
        <li>{{ charges }}</li>
      {{/each }}
    </ul>
  </div>

  <div class="col-sm-6">
    <h4>Ajoutez tous frais supplémentaires</h4>
    <ul>
      {{#each allCharges }}
        <li>{{ chargesFr }}</li>
      {{/each }}
    </ul>
  </div>
</template>