<template name="microfoilvalved1820">  
  <div class="container">

    <div class="row">
      {{> microheader }}
      {{> yield region='pals' }}
      <h3>18” and 20” Valved Balloons</h3>
      <h3>Ballons de 18 po. & 20 po.</h3>
    </div>

    <div class="row">
      {{> yield region='filterdropdown' }}
    </div>
    <div class="row">
      {{> reactiveTable collection=microfoilvalved1820 settings=settings}}
    </div>

    <div class="row">
      <h3>36” Valved Balloons</h3>
      <h3>Ballons de 36 po.</h3>

      {{> microfoilvalved36 }}
    </div>
    
    <div class="row">
      {{> microfooter}}
    </div>
    
    <div class="row">      
      {{> yield region='charges' }}
    </div>
  </div>
</template>

<template name="microheader">
  <div class="row">
    <h1>Small Quantity Microfoil<sup>®</sup> Balloons</h1>
    <h1>Ballons Microfoil<sup>®</sup> – Petite quantité</h1>

  </div>

  <div class="row">
    <div id="primary-image" class="col-lg-3 col-md-3 col-sm-12">
      <img class="img-responsive" src="small-microfoil.png" alt="">
    </div>
    <div class="col-lg-7 col-md-6 col-sm-12">
      {{> oneSidedImprint}}
    </div>
    <div class="col-lg-2 col-md-3 col-sm-12 pull-right">
      {{> qualatexLogo }}
    </div>
    
  </div>

</template> 

<template name="microfooter">
  <h4>Magic Balloon Wands™ Diamond Clear – Diamant clair</h4>
  <ul>
    <li>(#22860).$0.72(A) per piece</li>
    <li>(#22860).$0.72(A) par pièce</li>
  </ul>
  <p>© Premium Balloon Accessories</p>
  <h4>Art</h4>
  <h5>Conception Graphique 
  A minimum of 1/8" separation between colours is required due to movement during printing. Order acceptance is based on approval of artwork.</h5>
  <h5>Une sélection chromatique d’au moins 1/8 po. doit exister entre les couleurs due aux conditions d’instabilité durant l’impression.  L’acceptation de la commande est basée sur l’approbation de la conception graphique</h5>
  <h5>Note:  Helium-filled Microfoil balloons may not float in altitudes exceeding approximately 3,000 feet.</h5>

</template> 

<template name="smallmicrofoilcharges">
  <h4>Charges</h4>
  <ul>
    {{#each allCharges }}
      <li>{{ charges }}  --  {{ chargesFr }}</li>
    {{/each }}
  </ul>
</template>