<template name="microspecialshapes">
  <div id="specialshapes" class="row">
      
    <div class="container">
    
        <div class="col-sm-6">
          <div class="row">
            <h1>Microfoil® Balloons Special Shapes</h1>
            <h3>Balloons for Point-of-Purchase</h3>            
          </div>
        
          <div class="row">
            <h4>The power of point-of-purchase displays is increased with the use of special-shape Microfoil balloons.</h4>
            <p>They add colour and motion to any display to boost brand recognition and increase
             sales without the loss of floor space.  Contact Customer Service for price quotes.</p>
             
             <p>Pricing will depend on the number of colours, if balloons are printed on one side or two sides,
             and the overall size and shape of the balloon.  Normal minimums: 5,000 balloons per shape and per design</p>
          </div>
        </div>

        <div class="col-sm-6">
          <img id="special-shapes-image" src="special-micro.png" alt="" class="image-responsive">
        </div>

    </div>
  </div>
   
</template>


<template name="microshapes">
  <div class="col-lg-5">
    <h4>FOO BAR Microfoil® Balloons Special Shapes</h4>
    <h5>Balloons for Point-of-Purchase</h5>
    <p>The power of point-of-purchase displays is increased with the use of special-shape Microfoil balloons.  They add colour and motion to any display to boost brand recognition and increase sales without the loss of floor space.</p>
    <p>Contact Customer Service for price quotes.  Pricing will depend on the number of colours, if balloons are printed on one side or two sides, and the overall size and shape of the balloon.</p>
    <p><strong>Normal minimums: 5,000 balloons per shape and per design</strong></p>
  </div>

  <div class="col-lg-5">
    <h1>pic here</h1>
   
    
  </div>

</template>
