<template name="popupbanners">

    <div class="container">

        <div class="row">
            {{> popupheader }}

        </div>
        <div class="row">
            {{> filterdropdown }}
        </div>
        <div class="row">
            {{> reactiveTable collection=popupbanners settings=settings}}
        </div>
        <aside>For different imprint on second side or third panel: Add $40.00(C) per unit.</aside>

    </div>

    <div class="container">
        <div class="row">
            {{> popupextra}}
        </div>
    </div>

</template>

<template name="popupheader">

  <div class="row">
    <h1>Pop-Up Banners</h1>
  </div>

  <div class="row">
    <div id="primary-image" class="col-lg-3 col-md-3 col-sm-12">
      <img class="img-responsive" src="popup-banners.png" alt="">
    </div>
   
    <div class="col-lg-7 col-md-6 col-sm-12">
        <h4>Displaying your message has never been so quick and easy. The uniquely designed Pop-up Banners are a quality low cost alternative to traditional banners and signs, and will bring a modern look to any campaign. They are quick and easy to use and come with their own carrying case.</h4>
        <h5>The Price below include same imprint on all banner panels, spring metal frame, ground stake and carrying case.  Full Colour dye-sublimation print</h5>
    </div>
  </div>

</template> 


<template name="popupextra">
    
    <div class="row">
        {{> flagpdfdownload }}
    </div>
    
    <img class="img-responsive" src="popup-info-pg23.png" alt="Info for Pop Up Banners">
</template>