<template name="promoflags">  
  <div class="container">
    <div class="row">
      {{> promoflagscontent}}
    </div>
    <div class="row">
      {{> econflags}}
    </div>
  </div>
</template>

<template name="promoflagscontent">
    {{> promoheader }}

    <h3>Promotional Bow Flags </h3>
    <div class="row">
      <!-- {{> yield region='filterdropdown' }} -->
    </div>
    <div class="row">
      {{> reactiveTable collection=promoflags settings=settings }}
    </div>
    <div class="row">
      {{> promoflagInfoSS }}
    </div>
</template>

<template name="promoheader">
  <div class="row">
    <h1>Promotional Flags</h1>
    <h1>Drapeaux publicitaires</h1>
  </div>

  <div class="row">
    <div id="primary-image" class="col-lg-3 col-md-3 col-sm-12">
      <img class="img-responsive" src="promo-flags.png" alt="">
    </div>
    <div class="col-lg-7 col-md-6 col-sm-12">
      <h4>The innovative design of each flag will increase exposure and visibility of any product or location. Flags are constructed with high-quality 100% nylon fabrics with UV-resistant inks for long-lasting durability.</h4>
      <h4>Le motif innovateur de chaque drapeau augmentera la visibilité de n’importe quel produit ou location. Les drapeaux sont fabriqués de tissus de haute qualité à 100% nylon avec des encres resistantes aux rayons UV pour une durabilié prolongée.</h4>
    </div>
    
  </div>

</template> 

<template name="econflags">
  


  <div class="row">
    <h1>Economy Flags</h1> 
    <h1>Drapeaux économiques</h1> 
  </div>

  <div class="row">
    <div id="primary-image" class="col-lg-3 col-md-3 col-sm-12">
      
    </div>
    <div class="col-lg-7 col-md-6 col-sm-12">
      <h4>Economy flags are ideal for special, price-sensitive promotions demanding a low-cost, printed flag for in-ground applications only</h4>
      <h4>Parfaits pour les promotions qui demandent un drapeau publicitaire à prix modiqiue, pour utilisation en terre seulement.</h4>
    </div>
    
  </div>


  
  <div class="row">
    {{> reactiveTable collection=econflags settings=settings }}
    <p><strong>*</strong> same design one-side digital imprint with mirror image on second side</p>

    <p><strong>**</strong> Price includes flags with same design digital imprint on 2 side</p>
  </div>
   <div class="row">
    {{> econflagInfo }}
  </div>
  

</template>

<template name="promoflagInfoSS">
<h4>Accessories - Accessoires</h4>
<img class="img-responsive" src="promoflag-info-ss.png" alt="">
<!-- <p>Metal Cross Bar Base with Ground Stake and Rotating Ball Bearing Stem</p>
<p>Base de métal en croix avec le pieu de base et la tige à roulement à bille (#31181</p>
<p>For indoor or outdoor use. If using outdoors, we recommend purchasing the PVC Water Weight Bag</p>
<p>Pour utilisation à l’intérieur ou à l’extérieur. Si vous l’utilisez à l’extérieur il est recommandé d’acheter le sac à eau en PVC</p>
<ul>
  <li>PVC Water Weight Bag</li>
  <li>Sac à eau en PVC (#31186)</li>
  <li>Extra Ground Stake</li>
  <li>Pieu de base supplémentaire (#31180)</li>
  <li>Equipped with Rotating Ball Bearing Stem</li>
  <li>Muni d’une tige à roulement à bi</li>
  <li>Product Material all flags</li>
  <li>Matériaux pour tous les drapea</li>
  <li>Flag Fabric</li>
  <li>Tissu</li>
  <li>Knitted Polyester</li>
  <li>Tricot en polyester</li>
  <li>Carrying Case</li>
  <li>Étui</li>
  <li>Flag Poles</li>
  <li>Tige:</li>
  <li>Aluminum with fiber glass tips</li>
  <li>Aluminum avec les bouts en fibre de verre</li>
  <li>Ground Stakes</li>
  <li>Pieu de base</li>
  <li>Powder coated steel</li>
  <li>Acier à revêtement par pulvérisation</li>
  <li>Cross Base</li>
  <li>Base en croix</li>
  <li>Powder coated steel</li>
  <li>Acier à revêtement par pulvérisation</li>
</ul>
<p>All 8ft. Flag kits Include: Pole, ground stake, metal cross bar base with water weight, and nylon carrying case.</p>
<p>Tous les ensembles de 8 pi. comprennent: La tige, le pieu de base, la base de métal en croix avec le sac à eau et l’étui de nylon</p>
 -->
<h4>Production Time - Temps de production</h4>
<p>After receipt of order and approved artwork, allow approximately 3-4 weeks.</p>
<p>Après la réception de la commande et de la conception graphique approuvée, allouez 3 à 4 semaines.</p>

<h4>Shipping - Expédition</h4>
<p>F.O.B.: Miami Florida. Duty and Brokerage may apply.</p>
<p>Miami, Floride. Frais de franchise douanière et frais de courtage peuvent s'appliquer</p>

</template>

<template name="econflagInfo">

<h4>Product Material</h4>
<p>Flag Fabric : Knitted Polyester </p>
<p>Tissu:  Tricot en polyester</p>
<p>Flag Poles:  Light-Weight Brushed Aluminum </p>
<p>Tige:  Aluminum léger brossé</p>
<p>Ground Stakes : Powder coated steel </p>
<p>Pieu de base:  Acier à revêtement par pulvérisation</p>

<h4>Ordering Information</h4>
<p><strong>Minimum: 2 pieces/pièces.</strong>  Does not include carrying case or rotating ball bearing stem. – Ne comprend pas l'étui ni la tige à roulement à bille.</p>
<p>Does not work with metal cross bar base. – Ne fonctionne pas avec la base en croix.</p>

<h4>Production Time – Temps de production</h4>
<p>After receipt of order and approved artwork, allow approximately 3-4 weeks.</p>
<p>Après la réception de la commande et de la conception graphique approuvée, allouez 3 à 4 semaines.</p>

<h4>Shipping Expédition</h4>
<p>F.O.B.: Miami Florida. Duty and Brokerage may apply.  Miami, Floride. Frais de franchise douanière et frais de courtage peuvent s'appliquer.</p>

</template>