<template name="quicklinkonecolour">

  <div class="row">
    {{> quicklinkheader}}  
  </div>
  <div class="row">
    {{> yield region="filterdropdown" }}
  </div>
  <div class="row">
    {{> reactiveTable collection=quicklinkonecolour settings=settings}}
  </div>
  

  <div class="row">
    {{> qlroundfooter}}
    {{> yield region='charges'}}
  </div>
</template>

<template name="quicklinkheader">
  <div class="row">
    <h1>QuickLink<sup>TM</sup> One–Colour Print</h1>
    <h1>QuickLink à impression une couleur</h1>
  </div>

  <div class="row">
    <div id="primary-image" class="col-lg-3 col-md-3 col-sm-12">
      <img class="img-responsive" src="quicklink-one-colour.png" alt="">
    </div>
    <div class="col-lg-7 col-md-6 col-sm-12">
      <h4>Quick Link Balloons™ are a quick and easy way to build impressive decor. The balloons have two tying places, one at the bottom (neck) of the balloon and one at the top (tip), allowing balloons to be tied together, creating an arch or column.</h4>
      <h4>Les ballons Quick Link sont une façon vite et efficace de bâtir un décor impressionnant. Les ballons ont deux bouts qui s’attachent, un au col du ballon et un au haut du ballon, permettant ainsi de les attacher ensemble pour créer une arche ou une colonne.</h4>
    </div>  
    <div class="col-lg-2 col-md-3 col-sm-4 pull-right">
      <img class="img-responsive small-homepage-logos" src="quicklink-logo.png" alt="logo">
    </div>
  </div>

</template> 

<template name="qlroundfooter">
  <p>Quick Links are an easy solution for visible imprints/logos on eye-catching balloon decor.  Note: Imprints on custom printed Quick Link Balloons may not line up precisely once assembled.</p> 
  <p>Quick Links sont une solution facile pour des impressions voyantes sur un décor attirant.  À noter qu’il est possible que l’impression sur les ballons Quick Link imprimés ne s’enlignent pas exactement lorsque les ballons sont attachés ensemble</p>
  <p>Ideal for quick-to-create impressive decor.  Easy to work with and produce professional results. No tools required.</p>
  
  <p>Parfaits pour un décor impressionant vite et facile. Vous obtiendrez des résultats professionnels. Aucun outil nécessaire.</p>

  <p>Call Customer Service for Instructions for 6 ft.</p>
  <p>Appelez le service à la clientèle pour les instructions pour la colonne Quick Link à l ’hélium de 6 pi.</p>
  <p>The prices above include balloons with a one-colour/two-side same Impress II® print; add additional charges</p>
</template> 