<template name="stockballoons">
  <h1>Stock Printed Balloons</h1>
  <h1>Ballons d'extérieur imprimés</h1>
  <h4>Same Design Both Sides.</h4>    
  <h4>Même impression sur 2 côtés </h4>   
  

  <div class="col-sm-6">
    <div class="col-sm-3">
      <img class="img-responsive pull-right" src="stock/stock-sale.png" alt="">
    </div>
    <h2>Sale (#15305)</h2>
    <p>17" Tropical Assortment w/White Ink.</p>
    <p>17 po. Asst tropical/encre blanche</p>
    <p>$38.00(A) per 50ct. bag – sac de 50</p>
    <p>Minimum: 1</p>
  </div>

  <div class="col-sm-6">
    <div class="col-sm-3">
      <img class="img-responsive pull-right" src="stock/stock-open.png">
    </div>
    <h2>Open House (#28658)</h2>
    <p>17" Tropical Assortment w/</p>
    <p>17 po. Asst tropical/encre </p>
    <p>$38.00(A) per 50ct. bag – sac de 50</p>
    <p>Minimum: 1</p>
  </div>


  <div class="col-sm-6">
    <div class="col-sm-3">
      <img class="img-responsive pull-right" src="stock/stock-smile.png" alt="">
    </div>
    <h2>Smile Face (#98417)</h2>
  <p>17" Yellow w/Black Ink. </p>
  <p>17 po. Jaune/encre noire</p>
  <p>$38.00(A) per 50ct. bag </p>
  <p>$38.00(A)  sac de 50</p>
  <p>17" Tropical Assortment w/Black Ink.</p>
  <p>17 po. Asst. Tropical/encre noire</p>
  <p>$38.00(A) per 50ct. bag </p>
  <p>$38.00(A)  sac de 50</p>
  <p>Minimum: 1</p>
  </div>

  <div class="col-sm-6">
    <div class="col-sm-3">
      <img class="img-responsive pull-right" src="stock/stock-sale-small.png" alt="">
    </div>
    

  <h2>Sale (#15306)</h2>
  <p>17" Basic Yellow w/Red Ink.</p>
  <p>17 po Jaune/encre rouge</p>
  <h2>Sale (#98403)</h2>
  <p>17" Red w/White Ink. </p>
  <p>17 po Rouge/encre blanche</p>
  <h2>Sale (#33260)</h2>
  <p>17" Assorted Blue w/White Ink, White w/Blue Ink.</p>
  <p>17 po Asst. bleu/encre blanche, blanc encre bleue</p>
  <p>$38.00(A) per 50ct. bag </p>
  <p>$38.00(A)  sac de 50</p>
  <p>Minimum: 1</p>
  </div>


  <div class="col-sm-6">
    <div class="col-sm-3">
      <img class="img-responsive pull-right" src="stock/stock-grand.png">
    </div>
    <h2>Grand Opening (#28944)</h2>
  <p>17" Tropical Assortment w/White Ink.</p>
  <p>17 po. Asst tropical/encre blanche</p>
  <p>$38.00(A) per 50ct. bag </p>
  <p>$38.00(A)  sac de 50</p>
  <p>Minimum: 1 </p>
  </div>


  <div class="col-sm-6">
    <div class="col-sm-3">
      <img class="img-responsive pull-right" src="stock/stock-flag.png">
    </div>
  <h2>Canada Flag (#37499)</h2>
  <p>17" White w/Black Ink.</p>
  <p>17 po. Blanc/encre rouge</p>
  <p>$38.00(A) per 50ct. bag </p>
  <p>$38.00(A)  sac de 50</p>
  <p>Minimum: 1</p>
  </div>




</template>
    