<template name="tablecovers">
    <div class="container">        
        {{> tableheader }}
        {{> nonfitted}}
        {{> stretch}}
    </div>
    <div class="row">
        {{> tablecoversextra}}
    </div>
</template>
 
<template name="tableheader">
  <div class="row">
    <h1>Table Covers</h1>
    <h1>Nappes</h1>
  </div>

  <div class="row">
    <div id="primary-image" class="col-lg-3 col-md-3 col-sm-12">
      <img class="img-responsive" src="table-covers.png" alt="">
    </div>
    <div class="col-lg-7 col-md-6 col-sm-12">
      <h4>Provide maximum coverage with our high-quality, 100% polyester poplin 4-sided table covers. Fitted Table Covers also available at same pricing as below — must mention Fitted Table Cover on purchase order.</h4>
      <h4>Vous serez bien couvert avec nos nappes faites de polyester popline à 100% et imprimées sur 4 côtés.  Les nappes ajustées sont aussi disponibles aux même prix que ci-dessous — Vous devez l’indiquer sur la commande.</h4>
      <a class="btn btn-success" href="table_cover_templates.pdf" target="_blank">Download Table Cover Artwork Template</a>
    </div>
  </div>
</template> 


<template name="nonfitted">
   <div class="row">
        <h3>Non-Fitted Table Covers</h3>
        <h3>Nappes non ajustées</h3>
        
        <!-- <div class="row">
            {{> filterdropdown }}
        </div> -->
        <div class="row">
            {{> reactiveTable collection=nonfittedtablecovers settings=settings}}
        </div>
    </div>
</template>


<!-- ************************************** -->
<template name="stretch">
    <div class="row">
        <h3>Stretch Table Covers</h3>
        <h3>Nappes qui s'étirent</h3>


        {{> reactiveTable collection=stretchtablecovers settings=settings}}
        <p>* Plain stock colours: White, Black, Red or Blue</p> 
    </div>
</template>

<template name="tablecoversextra">
    <div class="container">

        <h3>Imprint Area:</h3> 

        <section>
            <div class="col-sm-6">
                <h4>6-ft. Non-Fitted Table Cover Full-Colour Dye-Sublimation Imprint Area</h4>
                <h4>Surface d’impression en couleur par sublimation pour nappe de 6 pi. non ajustée.</h4>
                <ul>
                    <li>Front/Back Imprint Area: 21”H x 60”W</li>
                    <li>Surface d’impression pour devant/dos: 21 po.H x 60 po.</li>
                    <li>Side Imprint Area: 21”H x 24”W</li>
                    <li>Surface d’impression pour côtés: 21 po.H x 24 po.</li>
                </ul>

            </div>
            <div class="col-sm-6">
                <h4>6ft. Non-Fitted Table Cover Full Colour/ Full Bleed Imprint Area</h4>
                <h4>Surface d’impression en couleur à fond perdu pour nappe de 6 pi. non ajustée.</h4>
                <ul>
                    <li>Front/Back Imprint Area: 29”H x 72”W</li>
                    <li>Surface d’impression pour devant/dos: 29 po.H x 72 po.</li>
                    <li>Side Imprint Area: 29”H x 30”W</li>
                    <li>Surface d’impression pour côtés: 29 po.H x 30 po.</li>
                    <li>All Over Imprint Area: 88”H x 130”W</li>
                    <li>Surface d’impression partout: 88 po.H x 130 po.</li>
                </ul>
            </div>
        </section>

        <section>
        
            <div class="col-sm-6">
                <h4>8ft. Non-Fitted Table Cover Full Colour Dye Sublimation Imprint Area</h4>
                <h4>Surface d’impression en couleur par sublimation pour nappe de 8 pi. non ajustée.</h4>
                <ul>
                    <li>Front/Back Imprint Area: 21”H x 72”W</li>
                    <li>Surface d’impression pour devant/dos: 21 po.H x 72 po.</li>
                    <li>Side Imprint Area: 21”H x 24”W</li>
                    <li>Surface d’impression pour côtés: 21 po.H x 24 po.</li>
                </ul>
            </div>
             <div class="col-sm-6">
                <h4>8ft. Non-Fitted Table Cover Full Colour/ Full Bleed Imprint Area</h4>
                <h4>Surface d’impression en couleur à fond perdu pour nappe de 6 pi. non ajustée.</h4>
                <ul>
                    <li>Front/Back Imprint Area: 29”H x 96”W</li>
                    <li>Surface d’impression pour devant/dos: 29 po.H x 96 po.</li>
                    <li>Side Imprint Area: 29”H x 30”W</li>
                    <li>Surface d’impression pour côtés: 29 po.H x 30 po.</li>
                    <li>All Over Imprint Area: 88”H x 154”W</li>
                    <li>Surface d’impression partout: 88 po.H x 154 po.</li>
                </ul>
            </div>   
             
        </section>


        <section>
            {{> tableExtras}}
        </section>
    </div>
</template>

<template name="tableExtras">
    <h4>All table covers fit 30” deep tables . 24” deep table covers also available, contact Customer Service.</h4>
    <h4>Toutes les nappes font pour les tables de 30 po . de creu x.es nappes de 24 po. de creux sont aussi disponibles, appelez le service à la clientèle.</h4>

    <section>

    <h4>Product Material - Matériel du produit</h4>
        <ul>
            <li>300 Polyester Denier - Denier polyester 300</li>
            <li>Water, Fire & Stain Resistant- Résistant à l’eau, au feu et aux taches.</li>
            <li>Fitted Table Covers also available. <strong>Must mention Fitted Table Cover on purchase order.</strong></li>
        </ul>
    </section>

    <p>Price above include a 4-sided table cover with full-colour dye sublimation print; add any additional charges</p>
    <p>Prix ci-dessus comprennent une nappe à 4 côtés avec une impression en couleur par sublimation; ajoutez tous frais supplémentaires.</p>


    <p>Set-Up(#36996): $50.00(C) Only one SET UP CHARGE PER TABLE COVER regardless of number of imprint areas and includes the entire quantity with same imprint.</p>
    <p>Frais de montage (#36996): 50,00$(C) Seulement un FRAIS DE MONTAGE PAR NAPPE peu importe le montant de surfaces à imprimer et comprend toute quantité avec la même impression.</p>

    <p>Top Print Add: $15.00(C) - Impression sur le dessus ajoutez: 15,00$(C)</p>
    <p><strong>Shipping</strong> F.O.B: Miami Florida. Duty and Brokerage may apply</p>
    <p>Approx. 3-4 business weeks from confirmed order and sketch approval</p>
</template>