<template name="footer">

  <div class="footer">
    <div class="row">
      
      <footer>
        <div class="col-sm-9">
          <strong>Prices in Canadian dollars. Prices effective through December 31, 2015. Les prix sont en dollars canadiens . Prix ​​en vigueur jusqu'au 31 Décembre 2015.<a href="{{pathFor 'geninfo'}}">Disclaimer - Désistement</a></strong>
          These trademarks can be used only with the appropriate permission - Ces marques peuvent être utilisées qu'avec l'autorisation appropriée.
          AdMax™, AdPunch™, AdRite™, AdWave®, AdWrap®,  IMPRESS II®, IMPRESS V™, Microfoil®, Qualatex®, SuperAgate®, and Wrap Around IMPRESS II®.
        </div>
        <div class="col-sm-2">
          <button id="scrollToTop" type="button" class="btn btn-success pull-right"><span class="glyphicon glyphicon-circle-arrow-up"></span> Return to Top</button>
        </div>
      </footer>
    </div>
  </div>    
</template>