<template name="biodeg">
  <div id="biodeg" class="pull-right">
    <img src="biodeg.gif" alt="">  
  </div>
</template>

<template name="qualatexLogo">
  <div id="qualatexLogo" class="pull-right">
    <img class="img-responsive"  src="qualatex-logo.png" alt="">  
  </div>
</template>

<template name="smallLogos">
  <div id="small-logo-container" class="col-lg-6 col-md-6 col-sm-3">
    <a href="{{ pathFor 'roundballoons' }}">
      <img class="img-responsive small-homepage-logos" src="qualatex-logo.png" alt="roundballoons-logo">
    </a>
  </div>

  {{> adrite }}
</template>

<template name="adrite">
  <div id="small-logo-container" class="col-lg-6 col-md-6 col-sm-3">    
    <a href="{{ pathFor 'adriteeconomyline' }}">
      <img class="img-responsive small-homepage-logos" src="adrite-logo.png" alt="adriteeconomyline-logo">
    </a>
  </div>
</template>
