<template name="rush">
  <div id="rush-container" class="row">
      <div class="col-lg-2 col-md-3 col-sm-4 pull-right">
        <img class="img-responsive small-homepage-logos" src="twenty-four-hours.png" alt="">
      </div>
      <h3>RUSH ORDER SERVICE 24 HR QUICK SERVE!</h3>
      <h5>Rush orders are available as our production schedule allows, please contact Customer Service for details.</h5>
      <h5>Les commandes urgentes sont disponibles dépendant de notre calendrier d’exécution, appelez le service à la clientèle pour les détails.</h5>
      <p>*not available for Rush Service</p>
      <p>*non disponible pour service urgent</p>
      <ul>
        <li>For latex orders up to 5,000 balloons:</li>
        <li>Pour commande jusqu’à 5,000 ballons:</li>
        <ul>
          <li>Ship in 1 Day add - $80.00(A)</li>
          <li>Expédié en 1 jour ajoutez - $80.00(A)</li>
          <li>Ship in 2 Days add - $50.00(A)</li>
          <li>Expédié en 2 jours ajoutez: - $50.00(A)</li>
        </ul>
      </ul>

      <ul>
        <li>Complete order and approved art must be received by NOON ET at factory.</li>
        <li>La commande complète et la conception graphique approuvée doivent être reçus à l’usine par midi.</li>
        <li>Stock ink colours ONLY.</li>
        <li>Encres en inventaire seulement</li>
        <li>Proof request will add production time to rush orders</li>
        <li>Demande de preuve ajoutera du temps à la production.</li>
        <li>Please contact Customer Service on orders of more than 5,000 balloons.</li>
        <li>Pour les commande de plus de 5,000 ballons appelez le service à la clientèle.</li>
      </ul>
  </div>
</template>